<ng-container *ngIf="hero">
	<div class="hero-level cursor-pointer m-right-5" [innerHTML]="hero.level" (click)="openCharacterSheet()"></div>
	<div class="hero-name font-weight-bold cursor-pointer" [innerHTML]="hero.name" (click)="openCharacterSheet()"></div>
	<div class="hero-divider"></div>

	<div class="hero-vit-container">
		<div class="hero-vit-label">HP</div>
		<div class="progress hero-vit-bar hp">
			<progress max="100" [value]="hero.vitPct.health"></progress>
		</div>
	</div>
	<div class="hero-vit-container">
		<div class="hero-vit-label">MP</div>
		<div class="progress hero-vit-bar mp">
			<progress max="100" [value]="hero.vitPct.mana"></progress>
		</div>
	</div>
	<div class="hero-vit-container">
		<div class="hero-vit-label">ST</div>
		<div class="progress hero-vit-bar st">
			<progress max="100" [value]="hero.vitPct.stamina"></progress>
		</div>
	</div>
</ng-container>